*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.common-hr{
    width: 100%;
    border: 2px solid #414046;
}
/* Heading part START here */
.menu-container{
    background-color: rgb(70, 69, 69);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    list-style: none;
}
.menu-item{
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;}
.item{
    padding-right: 30px;
    text-align: center;
}
.item:hover{
    color: aqua;
}
.logo{
    width: 150px;
}
/* Heading part END here */

/* Banner part START here */
.banner-container{
    background-image: url(images/background.png), linear-gradient(45deg,#000, #252525);
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.photo{
    width: 230px;
    height: 250px;
}
.tittle{
    font-size: 50px;
    margin-bottom: 20px;
    color: aqua;
}
.description{
    font-size: 20px;
    margin: 20px 0px;
    line-height: 30px;
}
button{
    padding: 10px 20px;
    font: 20px bold;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
/* Banner part END here */

/* About-section START here */
.about-container{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.about-tittle{
    text-align: center;
    margin: 20px 0px 40px 0px;
    font-size: 40px;
    font-weight: bold;
}
/* About-section END here */
.box{
    width: 230px;
    height: 280px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
    transition: linear.5s;
}
.box:hover{
    transform: scale(1.1);
}
.box-head{
    color: #fff;
}
.services-logo{
    width: 70px;
}
.box-tittle{
    padding: 5px;
}
.box-info{
    padding: 5px;
}
.btn{
    background-color: gray;
    margin-top: 10px;
    transition: .5s;
}
.btn:hover{
    background-color: red;
    color: #fff;
}
.Our-services-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#Our-services-section{
    background-color: rgb(20, 17, 17);
}